body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  position: absolute; /* Positioned relative to the nearest positioned ancestor (body in this case) */
  width: 100%; /* Header will span the full width of the viewport */
  top: 0; /* Position the header at the very top of the viewport */
  z-index: 10; /* Ensures the header is above other content */
  background: transparent; /* Starts transparent and becomes opaque on scroll, for example */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ddd;
}

#hero {
  background-image: url(20240412_132630.jpg); /* Update with the path to your image */
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 0 20px;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

section {
  padding: 50px 20px;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Sample styles for the section contents */
#talks,
#blog,
#workshops {
  background: #f4f4f4;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

header nav ul li {
  flex: 1; /* This will make each <li> take up equal space */
  text-align: center; /* This will center the text inside each <li> */
}

header nav ul li a:hover {
  color: #759fdf; /* Slightly lighter background on hover */
}

header nav ul li a {
  margin: 1.2rem;
  padding: 48px 16px;
  color: #ffffff;
  text-decoration: none;
  transition: 1s; /* Smooth transition for hover effect */
  display: block;
  font-weight: bold;
  font-size: 1.4rem; /* Increase the font size as desired */
}

.tagline span {
  background: rgba(112, 4, 4, 0.8); /* Light background for each tagline */
  padding: 5px 10px;
  border-radius: 20px; /* Rounded corners for tagline backgrounds */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for image preview sections */
.image-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  background: #ececec; /* Placeholder background color */
}

.image-section h2 {
  flex: 1; /* Allow the title to take up space flexibly */
  font-size: 1.5rem; /* Slightly larger font size for these titles */
}

.image-section div {
  flex: 3; /* Allow the content to take up more space */
  display: flex;
  justify-content: space-evenly;
}

.image-section img {
  width: 100px; /* Set a standard width for images */
  height: 100px; /* Set a standard height for images */
  border-radius: 50%; /* Circular images */
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}
